<div id="cdntoken">

	<img src="img/Bea1.jpg"/>
	<!-- <img src="https://tst-demo2.azureedge.net/App/Views/sub/img/Bea1.jpg"/> -->

	<!-- <script type='text/javascript'>
	
		var userToken = angular.element(document.getElementById('cdntoken')).scope().getTokenHome();
		console.log('User token = '+userToken);
		
		var cdnURL = 'https://tst-demo2-apimgts.azure-api.net/accesscdn/CDNToken?id_token='+userToken;
		
		getCDNToken(cdnURL).success(function(data){
			
			var cdnURL = 'https://tst-demo2.azureedge.net/App/Views/sub/img/Bea1.jpg?cdn_token='+data;
			
			var cdntokenDIV = document.getElementById('cdntoken');
			var elem = document.createElement("img");
			elem.setAttribute("src",cdnURL);
			cdntokenDIV.appendChild(elem);
			
		});
	   
	   function getCDNToken (cdnURL){
			return $.ajax({
            url: cdnURL,
            beforeSend: function(xhrObj){
                //Request headers
            },
            type: "GET",
			success: function (data, textStatus, jqXHR){
				console.log('CDNToken = '+data);
			},
			error: function(xhr, textStatus, errorThrown, response, status, error) { 
				console.log('getCDNToken Error!!');
			},
			});
		}
		
	</script> -->
</div>