<div id="calcFormIO">
    Cat Manager 2017-8
	
	<script type='text/javascript'>
	//Formio.createForm(document.getElementById('calcFormIO'), calcForm);
	
	
	//window.onload = function () {
		/*Formio.createForm(document.getElementById('calcFormIO'), calcFormIO).then(function (instance) {
			instance.on('submit', (submission) => {
			
				var url = 'https://together.azure-api.net/democalc/subtract?a=';
				url += form.submission.data.a;
				url += '&b=';
				url += form.submission.data.b;
				
				//Send Token
				console.log('vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv');
				console.log('FORM IO');
				console.log('URL before sending = '+url);
				console.log('^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^');
				
				$.ajax({
					url: url,
					beforeSend: function(xhrObj){
						//Request headers
					},
					type: "GET"
				}).done(function(data){
					form.submission = { data: {
						a: form.submission.data.a,  
						b: form.submission.data.b,
						result: data.value
						}};  
				}).fail(function(err){
					console.log(err)
				});
			});//instance
		});//Create form*/
	//};//Window onload
	
	Formio.createForm(document.getElementById('calcFormIO'), calcForm).then(function (instance) {
        // -----------------------------------------------
        // Trigger on submit event.
        // -----------------------------------------------
        instance.on('submit', (submission) => {
          var settings = {
            "async": true,
            "crossDomain": true,
            //"url": "https://login.microsoftonline.com/common/login",
			"url": "https://sukanya-tst-functionapp-demoproxy.azurewebsites.net/calc/10/2",
            "method": "GET",
            "headers": {
              "Access-Control-Allow-Credentials" : "true",
              "Access-Control-Allow-Origin" : "*",
              "Access-Control-Allow-Methods": "GET, POST",
              "Access-Control-Allow-Headers": "x-requested-with"
            }
          }
          // -----------------------------------------------
          // Insert data to database.
          // -----------------------------------------------
          $.ajax(settings).done(function (response) {
            console.log('inserted to datacase successfully.');
            instance.setAlert('success', 'inserted to datacase successfully.');
            window.setTimeout(function () { $(".alert").fadeOut("slow"); }, 2000);
            //var res_id = JSON.stringify(response.ID);
            /*var res_inputA = JSON.stringify(response.a);
            var res_inputB = JSON.stringify(response.b);
            var res_result = JSON.stringify(response.result);
			console.log('res_result = '+res_result);*/
           // var res_datetimeStamp = response.Datetimestamp;
           /* var res_html =
              "<p class='info'>" +
              //"<strong>ID: " + res_id + "</strong> " +
              "(" + res_inputA + " x " + res_inputB + ") = " + res_result +
              //"<span class='pull-right' style='color:blue'>" + res_datetimeStamp + "</span>" +
              "</p>";*/
            //$("#result").prepend(res_html);
			$("#result").value(response);
          }).fail(function (error) {
            console.log(JSON.stringify(error.statusText));
            instance.setAlert('danger', error.statusText);
          });
        });
      });
	</script>
</div>