<div id="proxyID">
    Proxy
	
	<script type='text/javascript'>

		//var mainURL = 'https://projed-dev-fnc.azurewebsites.net/calc/subtract/200/20';
		var mainURL = 'https://sukanya-tst-functionapp-demoproxy.azurewebsites.net/calc/100/20';
		
		var proxyIframe = document.getElementById("proxyIframe");
		proxyIframe.src = mainURL;
		
		//user token
		var userToken = angular.element(document.getElementById('cdntoken')).scope().getTokenHome();
		console.log('User token = '+userToken);
		
		testAjaxFunction(mainURL).success(function(data){
				var mainURL = 'https://sukanya-tst-functionapp-demoproxy.azurewebsites.net/calc/100/20';
				
				var cdntokenDIV = document.getElementById('proxyID');
				var elem = document.createElement("img");
				elem.setAttribute("src",mainURL);
				cdntokenDIV.appendChild(elem);
			});
			
			
		 function testAjaxFunction (mainURL){
				return $.ajax({
				url: mainURL,
				beforeSend: function(xhrObj){
					//Request headers
					xhrObj.setRequestHeader ("Authorization", "Bearer " + userToken);
				},
				type: "GET",
				success: function (data, textStatus, jqXHR){
					console.log('CDNToken = '+data);
				},
				error: function(xhr, textStatus, errorThrown, response, status, error) { 
					console.log('getCDNToken Error!!');
				},
				});
			}
	</script>
	
	<iframe  id="proxyIframe" width="1025" height="350" sandbox="allow-same-origin allow-scripts allow-popups allow-forms">
	
	</iframe>
</div>

<!-- <div id="proxyFormIO">
	<script type='text/javascript'>
		Formio.createForm(document.getElementById('proxyFormIO'), 'https://gtdcbfvemyajgpb.form.io/lfdemoproxycalc');
	</script>		
</div> -->