<div id="proxyID">
    Proxy
	
	<script type='text/javascript'>

		//var mainURL = 'https://projed-dev-fnc.azurewebsites.net/calc/subtract/200/20';
		var mainURL = 'https://sukanya-tst-functionapp-demoproxy.azurewebsites.net/calc/100/20';
		
		var proxyIframe = document.getElementById("proxyIframe");
		proxyIframe.src = mainURL;
	</script>
	
	<iframe  id="proxyIframe" width="1025" height="350" sandbox="allow-same-origin allow-scripts allow-popups allow-forms">
	
	</iframe>
</div>

<!-- <div id="proxyFormIO">
	<script type='text/javascript'>
		Formio.createForm(document.getElementById('proxyFormIO'), 'https://gtdcbfvemyajgpb.form.io/lfdemoproxycalc');
	</script>		
</div> -->